h1{
    color:#021f1d;
    background:rgb(232, 243, 239);
    text-align:center;
    margin:50px;
    vertical-align: center;
    height:50px;
    border:gray 5px solid;
}
section{
    background-color: rgb(199, 241, 225);
border:#4286f4 solid;
padding:50px;
margin:40px;
margin-top: 80px;
}
.粉綠色{
    background-color:rgb(199, 241, 225);
}
body{
   background-color: rgb(16, 71, 64) ;
}
